
.container {
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.row {
	width: 100%;
}

.navbar-nav {
	width: 100%;
}

#navibar {
	position: fixed;
	width: 100%;
	height: 4.5rem;
	background-color: #c0c0c0;
	z-index: 9999;
}

#navigation-menu-container {
	width: 100%;
}

.nav-item.dropdown {
}

#nav-dropdown-link {
	font-size: 1.2em;
}

#nav-dropdown-text {
	margin-bottom: 0em;
}

#logo-container {
	height: 100%;
}

#logo {
	color: #ffffff;
}

#login-register-module-container {
	margin-left: 10%;
	width: 1200px;
	padding-right: 5em;

}


#login-module {
	width: 100%;
	height: 50%;
}

#login-username {
	height: 100%;
}

#login-password {
	height: 100%;
}

#register-module {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#register-button {
	background: none!important;
	border: none;
	padding: 0!important;
	/*optional*/
	font-family: arial, sans-serif;
	/*input has OS specific font-family*/
	color: #069;
	text-decoration: underline;
	cursor: pointer;
}

.section-container {
	height: 100vh;
	padding-top: 5em;
	padding-bottom: 2em;
	background-color: #f2f2f2;
}

.parallax {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(126,134,199,1) 0%, rgba(27,178,228,1) 0%, rgba(20,187,235,1) 0%, rgba(184,229,241,1) 0%, rgba(19,189,236,1) 0%, rgba(19,188,236,1) 0%, rgba(179,238,255,1) 0%, rgba(13,83,231,1) 100%, rgba(23,140,170,1) 100%, rgba(0,212,255,1) 100%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#landing-row {
	height: 100%;
}

#landing-image {
	width: 60%;
	height: 60%;
	border-radius: 10px;
}

#landing-text-container {
	margin-bottom: 1.6em;
	padding: 1em 2em 1em 2em;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 2em;

}

#landing-text {
	font-size: 1.8em;
	color: #fff;
}


#landing-section a {
	margin-bottom: 1.2em;
	border-radius: 1em;
}

#demo-button {
	border-width: 3px;
	font-size: 1.8em;
	font-weight: 500;
}

#landing-register-button {	
	border-width: 3px;
	margin-left: 1em;
	margin-right: 1em;
	font-weight: 500;
}

#landing-login-button {
	border-width: 3px;
	margin-left: 1em;
	margin-right: 1em;
	font-weight: 500;
}

#login-page-container, #register-page-container {
	height: 100vh;
	background-color: #f2f2f2;
}

#login-page-form, #register-page-form {
	margin: 0 auto;
	width: 50%;
}


#demo-modal-close-button {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 2em;
}

#upload-file-button {
	background-color: #3a4ddf;
	color: white;
}

#upload-file-container {
	margin: 0 auto;
	padding-top: 6em;
	width: 60%;
}

#upload-file-form {
	display: none;
}


#filename-display-text {
	padding-bottom: 2%;
	margin-top: 2%;
	text-align: center;
	border-radius: 10px;
	color: #496057;
	font-size: 1.6em;
	font-weight: bold;
}

#list-container {
	margin: 0 auto;
	width: 60%;
	height: 1000px;
	border: 1px solid #ced4da;
	border-radius: 10px;
	padding: 0.5em;
	overflow: hidden;
}

#search-filter-container {
	width: 100%;
	padding-bottom: 1em;
}

#search-filter-input {
	width: 100%;
	text-align: center;
}

.list-group {
	list-style-type: none;
}

.file-list-item {
	font-size: 1.2em;
}

.delete-icon {
	width: 18px;
	//border: 1px solid black;
}

.icon:hover {
	width: 22px;
}

.download-icon {
	width: 18px;
	//border: 1px solid black;
}

#download-tag {
	display: none;
}


.opaque {
	opacity: 0.8;
}

@media only screen and (max-width: 768px) {
	/* mobile screens only */
	
	#logo-container {
		margin: 0 auto;
	}

	#login-register-module-container {
		display: none;
	}

	#landing-section {
		padding-top: 8em;
		overflow: auto;	/* to contain elements that are not within view */
	}

	#landing-row {
		width: 100vw;
	}

	#landing-text {
		font-size: 1.5em;
	}


	#nav-dropdown-link {
		font-size: 2.5em;
		position: relative;
		bottom: 1.6em;
	}

	#nav-dropdown-text {
		display: none;
	}

	#upload-file-container {
		width: 80vw;
	}

	#list-container {
		width: 80vw;
	}



};
