
.container {
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.row {
	width: 100%;
}

.navbar-nav {
	width: 100%;
}

#navibar {
	position: fixed;
	width: 100%;
	height: 4.5rem;
	background-color: #c0c0c0;
	z-index: 9999;
}

#navigation-menu-container {
	width: 100%;
}

.nav-item.dropdown {
}

#nav-dropdown-link {
	font-size: 1.5em
}

#logo-container {
	height: 100%;
}

#logo {
	color: #ffffff;
}

#login-register-module-container {
	margin-left: 10%;
	width: 1200px;
	padding-right: 5em;

}


#login-module {
	width: 100%;
	height: 50%;
}

#login-username {
	height: 100%;
}

#login-password {
	height: 100%;
}

#register-module {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#register-button {
	background: none!important;
	border: none;
	padding: 0!important;
	/*optional*/
	font-family: arial, sans-serif;
	/*input has OS specific font-family*/
	color: #069;
	text-decoration: underline;
	cursor: pointer;
}

#upload-file-button {
	background-color: #3a4ddf;
	color: white;
}	

#upload-file-container {
	margin: 0 auto;
	padding-top: 6em;
	width: 60%;
}

#upload-file-form {
	display: none;
}


#filename-display-text {
	padding-bottom: 2%;
	margin-top: 2%;
	text-align: center;
	border-radius: 10px;
	color: #496057;
	font-size: 1.6em;
	font-weight: bold;
}

#list-container {
	margin: 0 auto;
	width: 60%;
	height: 1000px;
	border: 1px solid #ced4da;
	border-radius: 10px;
	padding: 0.5em;
	overflow: hidden;
}

#search-filter-container {
	width: 100%;
	padding-bottom: 1em;
}

#search-filter-input {
	width: 100%;
	text-align: center;
}

.list-group {
	list-style-type: none;
}

.file-list-item {
	font-size: 1.2em;
}

.delete-icon {
	width: 18px;
	//border: 1px solid black;
}

.icon:hover {
	width: 22px;
}

.download-icon {
	width: 18px;
	//border: 1px solid black;
}

#download-tag {
	display: none;
}


.opaque {
	opacity: 0.8;
}
